<body class="relative">
  <div class="nav fixed  backdrop-blur-3xl z-50 top-0 w-full flex justify-between items-center px-2 py-2 "
    style="box-shadow:  2px 1px 1px whitesmoke">
    <div class="font-semibold">Visitors</div>
    <div class="cursor-pointer" (click)="openModal()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
        stroke-linejoin="round" class="lucide lucide-square-plus">
        <rect width="18" height="18" x="3" y="3" rx="2" />
        <path d="M8 12h8" />
        <path d="M12 8v8" />
      </svg></div>
  </div>

  @if(sidebar)
  { <div class="sidebar fixed z-50 top-0 right-0 h-[30rem] mt-1 w-60 pt-6   bg-gray-100">

    <div class="flex items-center justify-between px-3 pb-4">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-circle-user-round">
          <path d="M18 20a6 6 0 0 0-12 0" />
          <circle cx="12" cy="10" r="4" />
          <circle cx="12" cy="12" r="10" />
        </svg>
      </div>
      <div (click)="sidebar_toggle()" class="cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="20"
          height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" class="lucide lucide-x">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg></div>
    </div>
    <hr>
    <div class="flex flex-col px-4 mt-4 space-y-4 text-gray-600" style="font-weight: 500;">
      <span>Home</span>
      <span>Analytics</span>
      <span>Settings</span>
    </div>
  </div>}

  <div class="flex items-center justify-between mr-4 md:mr-5 text-sm mt-16">
    <div></div>
    <div (click)="sidebar_toggle()" class="cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-menu">
        <line x1="4" x2="20" y1="12" y2="12" />
        <line x1="4" x2="20" y1="6" y2="6" />
        <line x1="4" x2="20" y1="18" y2="18" />
      </svg>
    </div>
  </div>


  @for(visitor of visitors;track 1){<div [ngClass]="{'border-green-300':visitor.visited}"
    class="border  mt-4 px-4 py-5 rounded-md shadow-neutral-50 lg:w-[97%] md:w-[99%] w-[92%] mx-auto">
    <div class="flex items-center justify-between w-full">
      <div class="flex items-start space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"
          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-circle-user">
          <circle cx="12" cy="12" r="10" />
          <circle cx="12" cy="10" r="3" />
          <path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662" />
        </svg>
        <div class="flex flex-col items-start -mt-[0.10rem]">
          <span> {{visitor.name}} </span>
          <span style="font-size: 70%;" class="text-gray-400"> {{visitor.visit_date}} </span>

        </div>

      </div>



      <div class="flex items-center justify-between text-gray-400">
        <label class="relative inline-flex items-center cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-file-pen-line">
            <path d="m18 5-2.414-2.414A2 2 0 0 0 14.172 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2" />
            <path
              d="M21.378 12.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
            <path d="M8 18h1" />
          </svg>
        </label>
      </div>



    </div>
  </div>}

  <div *ngIf="showModal"
    class="fixed top-0 bottom-0 left-0 right-0 bg-gray-800 bg-opacity-60 flex justify-center items-center z-50">
    <!-- Modal content -->
    <div class="w-[92%] md:w-[50%] bg-white shadow-md rounded-md mb-12 mt-3">
      <div class="p-4 border-b">
        <h5 class="font-semibold">Add Visitor</h5>
        <p class="text-sm text-gray-500">Add a new visitor in one-click.</p>
      </div>
      <div class="p-6">
        <form [formGroup]="form">
          <div class="grid w-full items-center gap-4">
            <div class="flex flex-col space-y-1">
              <label for="firstname" class="text-sm font-medium">Name</label>
              <input id="firstname" formControlName="name" type="text"
                class="border rounded px-3 py-2 text-sm w-full" />
            </div>

            <div class="flex items-center space-x-2">
              <div class="flex flex-col space-y-1 w-2/3">
                <label for="visit_date" class="text-sm font-medium">Visit Date</label>
                <input id="visit_date" formControlName="date" type="date"
                  class="border rounded px-3 py-2 text-sm w-full" />
              </div>
              <div class="flex flex-col space-y-1 w-1/3">
                <label for="visit_time" class="text-sm font-medium">Time</label>
                <input id="visit_time" formControlName="time" type="time"
                  class="border rounded px-3 py-2 text-sm w-full" />
              </div>
            </div>
            <div class="flex flex-col space-y-1">
              <label for="national_id" class="text-sm font-medium">National ID</label>
              <input id="national_id" placeholder="63-886161z63" formControlName="national_id" type="text"
                class="border rounded px-3 py-2 text-sm w-full" />
            </div>
            <div class="flex flex-col space-y-1">
              <label for="phone_number" class="text-sm font-medium">Phone Number</label>
              <input placeholder="+263777 000 000" id="phone_number" formControlName="phone_number" type="text"
                class="border rounded px-3 py-2 text-sm w-full" />
            </div>
            <!-- <div class="flex flex-col space-y-1">
            <label for="framework" class="text-sm font-medium">Framework</label>
            <select id="framework" class="border rounded px-3 py-2 text-sm w-full">
              <option value="" disabled selected>Select</option>
              <option value="next">Next.js</option>
              <option value="sveltekit">SvelteKit</option>
              <option value="astro">Astro</option>
              <option value="nuxt">Nuxt.js</option>
            </select>
          </div> -->
          </div>
        </form>
      </div>
      <div class="p-4 flex justify-between border-t">
        <button class="text-sm px-3 py-1 border rounded text-gray-700 hover:bg-gray-50"
          (click)="showModal=false">Cancel</button>
        <button (click)="onSub()"
          class="text-sm px-3 py-1 bg-black text-white rounded hover:bg-transparent hover:text-black hover:outline-offset-1 hover:outline hover:ring-1">Submit</button>
      </div>
    </div>

  </div>



</body>
