<body>
  <div class="font-bold my-4 mx-4">Dashboard</div>
  <div class="mx-4 mt-2">
    <div class="metrics flex items-center space-x-6">
      <div class="number_of_patients border border-gray-200 rounded-md px-4 py-3 flex items-center space-x-2 w-1/4">
        <div class="bg-red-100 p-3 rounded-[0.25rem]">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-list-ordered">
            <path d="M10 12h11" />
            <path d="M10 18h11" />
            <path d="M10 6h11" />
            <path d="M4 10h2" />
            <path d="M4 6h1v4" />
            <path d="M6 18H4c0-1 2-2 2-3s-1-1.5-2-1" />
          </svg>
        </div>
        <div class="flex flex-col items-start"><span class="font-semibold">45</span><span
            style="font-size: 80%;color: #e4e4e4;">No of
            Patients</span></div>
      </div>
      <div class="expected_visitors border border-gray-200 rounded-md px-4 py-3 flex items-center space-x-2 w-1/4">
        <div class="bg-teal-100 p-3 rounded-[0.25rem]">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-trending-up-down">
            <path d="M14.828 14.828 21 21" />
            <path d="M21 16v5h-5" />
            <path d="m21 3-9 9-4-4-6 6" />
            <path d="M21 8V3h-5" />
          </svg>
        </div>
        <div class="flex flex-col items-start"><span class="font-semibold">32</span><span
            style="font-size: 80%;color: #e4e4e4;">Expected Visitors</span></div>
      </div>
      <div class="visitors_per_day border border-gray-200 rounded-md px-4 py-3 flex items-center space-x-2 w-1/4">
        <div class="bg-orange-100 p-3 rounded-[0.25rem]">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-calendar-cog">
            <path d="m15.2 16.9-.9-.4" />
            <path d="m15.2 19.1-.9.4" />
            <path d="M16 2v4" />
            <path d="m16.9 15.2-.4-.9" />
            <path d="m16.9 20.8-.4.9" />
            <path d="m19.5 14.3-.4.9" />
            <path d="m19.5 21.7-.4-.9" />
            <path d="M21 10.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h6" />
            <path d="m21.7 16.5-.9.4" />
            <path d="m21.7 19.5-.9-.4" />
            <path d="M3 10h18" />
            <path d="M8 2v4" />
            <circle cx="18" cy="18" r="3" />
          </svg>
        </div>
        <div class="flex flex-col items-start"><span class="font-semibold">25</span><span
            style="font-size: 80%;color: #e4e4e4;">Visitors Per Day</span></div>
      </div>
      <div class="next_visit border border-gray-200 rounded-md px-4 py-3 flex items-center space-x-2 w-1/4">
        <div class="bg-slate-100 p-3 rounded-[0.25rem]">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-alarm-clock">
            <circle cx="12" cy="13" r="8" />
            <path d="M12 9v4l2 2" />
            <path d="M5 3 2 6" />
            <path d="m22 6-3-3" />
            <path d="M6.38 18.7 4 21" />
            <path d="M17.64 18.67 20 21" />
          </svg>
        </div>
        <div class="flex flex-col items-start"><span class="font-semibold">03</span><span
            style="font-size: 80%;color: #e4e4e4;">Visit Minutes Left</span></div>
      </div>



    </div>
  </div>

  <div>

  </div>
</body>
