<body>

  <div class="visitors border border-gray-100 rounded-md  mt-7 w-[92%] mx-auto flex flex-col ">
    <div class="bg-gray-50">
      <div class="flex justify-between items-center mx-3  py-3">
        <div>Visitors</div>
        <div class="cursor-pointer" (click)="Toast('success','success')">check in</div>
      </div>
    </div>
    <div style="background-color: whitesmoke;line-height: 1px;">
      &nbsp;
    </div>

    <div class="mt-6 w-[50%] mx-auto">
      <div class="text-center ">CONFIRM VISITOR</div>

      <form [formGroup]="form" class="w-[70%] mt-6 mx-auto">
        <div class="mb-10 space-y-3">
          <div class="space-y-1">
            <div class="space-y-2">

              <input
                class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full rounded-md border px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="visitor_id" placeholder="63-886161z63" name="visitor_id" formControlName="visitor_id" required />
            </div>
          </div>
          <!-- Search button -->
          <button
            class="ring-offset-background focus-visible:ring-ring flex h-10 w-full items-center justify-center whitespace-nowrap rounded-md bg-gray-800 px-4 py-2 text-sm font-medium text-white transition-colors hover:bg-black/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
            type="submit" (click)=" search_visitor()">SEARCH</button>
        </div>

        @if(not_found){
        <div
          class="not_found text-sm -mt-4 mb-3 bg-red-100  w-full text-center py-[0.75rem] rounded-md  bg-opacity-45 text-gray-700 flex items-center justify-center space-x-3 mx-auto"
          style="font-weight: 550;">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-circle-alert">
            <circle cx="12" cy="12" r="10" />
            <line x1="12" x2="12" y1="8" y2="12" />
            <line x1="12" x2="12.01" y1="16" y2="16" />
          </svg> <span>Visitor not found!!!</span>
        </div>}
      </form>

    </div>

  </div>

  <div style="background-color: whitesmoke;line-height: 1px;margin-top: 3rem;">
    &nbsp;
  </div>
  @if(searched){ <div class="flex relative pt-2">
    <div
      class="absolute right-2 top-1 cursor-pointer bg-green-200 px-2 py-1 text-sm rounded-md text-white font-semibold">
      check in
    </div>
    <div class="flex items-start  border-r border-gray-200 mt-5 w-[48%] pl-8">
      <div class="mx-5 my-3">
        <div class="flex flex-col">
          <div class="flex flex-col items-start">
            <span class="text-sm">Visitor Name</span>
            <span class="text-sm text-gray-700">{{visitor?.name}}</span>

          </div>
          <div class="flex flex-col items-start mt-5">
            <span class="text-sm">Visitor Type</span>
            <span class="text-sm text-gray-700">Multi</span>

          </div>

        </div>

      </div>

      <div class="ml-40 my-3">
        <div class="flex flex-col">
          <div class="flex flex-col items-start">
            <span class="text-sm">Visitor ID</span>
            <span class="text-sm text-gray-700">{{visitor?.national_id}}</span>

          </div>
          <div class="flex flex-col items-start mt-5">
            <span class="text-sm">Status</span>
            <span class="text-sm text-gray-700">

              {{visitor?.visited}}
            </span>

          </div>

        </div>

      </div>
    </div>
    <div class="flex items-start   border-gray-200 mt-5 w-[48%] ml-36 pr-8">
      <div class="mx-5 my-3">
        <div class="flex flex-col">
          <div class="flex flex-col items-start">
            <span class="text-sm">Patient Name</span>
            <span class="text-sm text-gray-700">John Doe</span>

          </div>
          <div class="flex flex-col items-start mt-5">
            <span class="text-sm">Ward</span>
            <span class="text-sm text-gray-700">East Wing</span>

          </div>

        </div>

      </div>

      <div class="ml-40 my-3">
        <div class="flex flex-col">
          <div class="flex flex-col items-start">
            <span class="text-sm">Room Number</span>
            <span class="text-sm text-gray-700">60</span>

          </div>
          <div class="flex flex-col items-start mt-5">
            <span class="text-sm">Current Visitors</span>
            <span class="text-sm text-gray-700">2</span>

          </div>

        </div>

      </div>
    </div>

  </div>

  }

  <!-- Toast Container -->


  <app-custom-toast *ngIf="show" [status]="type" [message]="message"></app-custom-toast>
</body>
