<body class="hidden  md:block lg:block">

  <div class="flex items-start">
    <div class="w-[15%] h-[35rem] " style="border-right: 1px solid whitesmoke;background-color: rgb(253, 253, 253);">
      <div class="flex flex-col items-center">
        <div class="h-16 w-16 rounded-[50%]  bg-gray-100 flex justify-center items-center mx-auto mt-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-user-round">
            <circle cx="12" cy="8" r="5" />
            <path d="M20 21a8 8 0 0 0-16 0" />
          </svg>
        </div>

        <div class="mt-2 text-sm font-semibold">JUDAH CHISARE</div>
      </div>
      <div style="background-color: whitesmoke;line-height: 1px;margin-top: 1rem;">
        &nbsp;
      </div>

      <!-- THE SIDE BAR LIST -->
      <DIV class="ml-2 mt-7">

        <ul class=" text-sm font-bold">
          <a href="/portal/dashboard?tab=dashboard">
            <li class="px-4  mr-2 py-2 rounded-[0.3rem] flex items-center space-x-3 mb-2 hover:bg-orange-50"
              [class.selected]="dashboard">

              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-chart-area">
                <path d="M3 3v16a2 2 0 0 0 2 2h16" />
                <path
                  d="M7 11.207a.5.5 0 0 1 .146-.353l2-2a.5.5 0 0 1 .708 0l3.292 3.292a.5.5 0 0 0 .708 0l4.292-4.292a.5.5 0 0 1 .854.353V16a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1z" />
              </svg>

              <span>Dashboard</span>
            </li>
          </a>
          <a href="/portal/patients?tab=patients">
            <li [class.selected]="patients"
              class="px-4  mr-2 py-2 rounded-[0.3rem] flex items-center space-x-3 mb-2 hover:bg-orange-50">





              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-hospital">
                <path d="M12 6v4" />
                <path d="M14 14h-4" />
                <path d="M14 18h-4" />
                <path d="M14 8h-4" />
                <path d="M18 12h2a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-9a2 2 0 0 1 2-2h2" />
                <path d="M18 22V4a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v18" />
              </svg>

              <span> Patients</span>
            </li>

          </a>
          <a href="/portal/visits?tab=visits">
            <li [class.selected]="visits"
              class="px-4  mr-2 py-2 rounded-[0.3rem] flex items-center space-x-3 mb-2 hover:bg-orange-50">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-shield-check">
                <path
                  d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z" />
                <path d="m9 12 2 2 4-4" />
              </svg>
              <span> Visits</span>

            </li>

          </a>

          <div class="mt-12 flex items-center justify-between mb-2 mx-2 font-normal text-gray-400 text-sm">
            <span>ADMIN</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-lock-keyhole">
              <circle cx="12" cy="16" r="1" />
              <rect x="3" y="10" width="18" height="12" rx="2" />
              <path d="M7 10V7a5 5 0 0 1 10 0v3" />
            </svg>
          </div>
          <div style="background-color: whitesmoke;line-height: 1px;" class="mb-4">
            &nbsp;
          </div>

          <a href="/portal/users?tab=users">
            <li [class.selected]="users"
              class="px-4  mr-2 py-2 rounded-[0.3rem] flex items-center space-x-3 mb-2 hover:bg-orange-50">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-users">
                <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                <circle cx="9" cy="7" r="4" />
                <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
                <path d="M16 3.13a4 4 0 0 1 0 7.75" />
              </svg>
              <span>Users</span>

            </li>
          </a>
        </ul>
      </DIV>
      <div class="absolute bottom-2 flex items-center text-sm space-x-1 ml-4 font-semibold cursor-pointer"
        (click)="logout()"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
          fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-log-out">
          <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
          <polyline points="16 17 21 12 16 7" />
          <line x1="21" x2="9" y1="12" y2="12" />
        </svg> <span>Sign Out</span> </div>

    </div>

    <div class=" w-[85%]">
      <div class="nav flex justify-between items-center px-2 py-3.5 ml-[0.1rem]"
        style="box-shadow:  2px 1px 1px whitesmoke">
        <div class="text-sm p-1.5 bg-slate-50 px-2 rounded-md" style="color: rgb(119, 136, 153);">

          <nav>
            <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">
              <ng-container *ngIf="!last">
                <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a> &gt;
              </ng-container>
              <ng-container *ngIf="last">
                {{ breadcrumb.label }}
              </ng-container>
            </ng-container>
          </nav>
        </div>
        <DIV>

          <div class="h-8 w-8 rounded-[50%] bg-gray-100 flex items-center justify-center mr-1 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-bell">
              <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9" />
              <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0" />
            </svg>
          </div>

        </DIV>


      </div>

      <div style="margin-left: 1%; height: 90vh; overflow-y: auto;margin-top: 0.25rem;">
        <div class="" style="background-color: white;">

          <router-outlet></router-outlet>

        </div>
      </div>

    </div>

  </div>

</body>
<div class="block md:hidden lg:hidden">
  <div class="border border-dashed border-gray-200 rounded-md  text-red-300 py-4 mx-auto flex w-3/4 mt-14">

    <span class="mx-auto flex"> Content can only be displayed on Tablets or Computer Screens </span>

  </div>
</div>