<body>

  <div class="flex items-start">
    <div class="w-[15%] h-[35rem] " style="border-right: 1px solid whitesmoke;background-color: rgb(253, 253, 253);">
      <div class="flex flex-col items-center">
        <div class="h-16 w-16 rounded-[50%]  bg-gray-100 flex justify-center items-center mx-auto mt-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-user-round">
            <circle cx="12" cy="8" r="5" />
            <path d="M20 21a8 8 0 0 0-16 0" />
          </svg>
        </div>
        <div class="mt-2 text-sm font-semibold">JUDAH CHISARE</div>
      </div>
      <div style="background-color: whitesmoke;line-height: 1px;margin-top: 1rem;">
        &nbsp;
      </div>
    </div>
    <div class="nav flex justify-between items-center px-2 py-2.5 w-[85%] ml-[0.1rem]"
      style="box-shadow:  2px 1px 1px whitesmoke">
      <div class="text-sm p-1.5 bg-slate-50 px-2 rounded-md" style="color: rgb(119, 136, 153);">portal > dashboard
      </div>
      <DIV>

        <div class="h-8 w-8 rounded-[50%] bg-gray-100 flex items-center justify-center mr-1 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-bell">
            <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9" />
            <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0" />
          </svg>
        </div>

      </DIV>
    </div>

  </div>

</body>