<div class="flex justify-between items-center mx-9 mt-3">
  <div class="font-semibold " style="color: #0f172a;">
    Patients
  </div>
  <div class="">
    <button (click)="openModal()"
      class="bg-[#0f172a] flex items-center space-x-1 text-sm text-white px-2 py-1 rounded-md"> <span>Add</span>

      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="white"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus">
        <path d="M5 12h14" />
        <path d="M12 5v14" />
      </svg>

    </button>
  </div>
</div>
<div style="background-color: whitesmoke;line-height: 1px;" class="mb-4 mt-4">
  &nbsp;
</div>

<div class="mx-6">
  <div class="flex justify-between items-end">
    <div class="relative w-64 mt-3 ml-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#a5a5a6"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
        class="absolute left-2 top-1/2 transform -translate-y-1/2 pointer-events-none">
        <circle cx="11" cy="11" r="8" />
        <path d="m21 21-4.3-4.3" />
      </svg>

      <input
        class="ring-1  ring-inset ring-gray-100 appearance-none  rounded-md py-2.5 text-sm pl-7 pr-3 w-full text-gray-700 leading-none focus:outline-none"
        id="username" type="text" placeholder="Search">
    </div>

    <div class="flex items-center space-x-1 mr-3">


      <button (click)="showConfirmDeleteModal=true" [ngClass]="{'opacity-20 disabled:cursor-not-allowed':not_checked}"
        [disabled]="not_checked"
        class="bg-transparent border border-red-300 rounded-md py-[0.17rem] px-2 text-sm flex items-center space-x-[2px] text-red-500"><svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-trash-2">
          <path d="M3 6h18" />
          <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
          <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
          <line x1="10" x2="10" y1="11" y2="17" />
          <line x1="14" x2="14" y1="11" y2="17" />
        </svg> <span> Delete</span></button>
      <button [ngClass]="{'opacity-20 disabled:cursor-not-allowed disabled:border-gray-300':not_checked}"
        [disabled]="not_checked"
        class="bg-transparent border border-gray-100 rounded-md py-1 px-2 text-sm flex items-center space-x-[2px]"><svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-clipboard-x">
          <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
          <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2" />
          <path d="m15 11-6 6" />
          <path d="m9 11 6 6" />
        </svg> <span>Discharge</span></button>

      <button [ngClass]="{'opacity-20 disabled:cursor-not-allowed disabled:border-gray-300':cant_edit}"
        [disabled]="cant_edit"
        class="bg-transparent border border-gray-100 rounded-md py-1 px-2 text-sm flex items-center space-x-[2px]">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-file-pen-line">
          <path d="m18 5-2.414-2.414A2 2 0 0 0 14.172 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2" />
          <path
            d="M21.378 12.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
          <path d="M8 18h1" />
        </svg> <span> View </span></button>

    </div>
  </div>

  <div>

  </div>
</div>
<div class="border border-gray-50 rounded-md lg:w-[94.5%] mx-auto container md:w-full sm:w-full mt-3">
  <table class="main-table w-full text-sm">
    <thead>
      <tr class="border-b   border-gray-100 text-left bg-gray-50">

        <th></th>
        <th class="py-2 px-3 ">Email</th>
        <th class="py-2 px-3 ">name</th>
        <th class="py-2 px-3 ">Phone</th>
        <th class="py-2 px-3 ">ward</th>
        <th class="py-2 px-3 ">room</th>
        <th class="py-2 px-3 ">checkin date</th>
        <th class="py-2 px-3 ">checkout date</th>
        <!-- <th class="py-2 px-3 ">{{columnNames[6]}}</th> -->
        <th></th>
      </tr>
    </thead>
    <tbody>

      @for(patient of collection| paginate: { itemsPerPage:itemsPerPage, currentPage: p };track 1){
      <tr class="border-b border-gray-100 text-sm bg-white ">
        <td class="px-3 text-sm py-3">
          <input type="checkbox" class=" h-4 w-4 " (change)="onCheckboxChange($event, patient.id)">


        </td>
        <td class="px-3 text-sm py-3 underline cursor-pointer" (click)="routeToPatient(patient.email)">{{patient.email}}
        </td>
        <td class="px-3 text-sm py-3">{{patient.name}}</td>
        <td class="px-3 text-sm py-3">{{patient.phone_number}}</td>
        <td class="px-3 text-sm py-3">{{patient.ward_number}}</td>
        <td class="px-3 text-sm py-3">{{patient.room_number}}</td>
        <td class="px-3 text-sm py-3">{{patient.checkin_date.split("T")[0]}}</td>
        <td class="px-3 text-sm py-3">{{patient.checkout_date}}</td>

        <td class="px-3 py-2.5"><button class="bg-transparent text-sm ">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
              stroke="#64748b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-download">
              <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
              <polyline points="7 10 12 15 17 10" />
              <line x1="12" x2="12" y1="15" y2="3" />
            </svg></button></td>


      </tr>}
    </tbody>
  </table>


</div>

<div class="flex justify-start mt-8 ml-10">
  <ul class="inline-flex items-center -space-x-px text-sm">
    <li class="border px-2 py-1 rounded-l-md cursor-pointer" [class.hidden]="p === 1"
      (click)="p > 1 && changePage(p - 1)">
      prev
    </li>
    <li *ngFor="let page of data_list" class="border px-2 py-1 cursor-pointer"
      [ngClass]="{ 'text-gray-500': page === p }" (click)="changePage(page)">
      {{ page }}
    </li>
    <li class="border px-2 py-1 rounded-r-md cursor-pointer" [class.hidden]="p === this.len"
      (click)="p < collection.length && changePage(p + 1)">
      next
    </li>
  </ul>
</div>


<div *ngIf="showModal"
  class="fixed top-0 bottom-0 left-0 right-0 bg-gray-800 bg-opacity-60 flex justify-center items-center z-50">
  <!-- Modal content -->
  <div class="w-[550px] bg-white shadow-md rounded-md mb-12 mt-14">
    <div class="p-4 border-b">
      <h2 class="text-lg font-semibold">Add Patient</h2>
      <p class="text-sm text-gray-500">Add a new patient in one-click.</p>
    </div>
    <div class="p-6">
      <form [formGroup]="form">
        <div class="grid w-full items-center gap-4">
          <div class="flex flex-col space-y-1">
            <label for="firstname" class="text-sm font-medium">First Name</label>
            <input id="firstname" formControlName="first_name" type="text" class="border rounded px-3 py-2 text-sm" />
          </div>
          <div class="flex flex-col space-y-1">
            <label for="lastname" class="text-sm font-medium">Last Name</label>
            <input id="lastname" formControlName="last_name" type="text" class="border rounded px-3 py-2 text-sm" />
          </div>
          <div class="flex items-center space-x-2">
            <div class="flex flex-col space-y-1 w-2/3">
              <label for="ward" class="text-sm font-medium">Ward</label>
              <input id="ward" formControlName="ward_number" type="text" class="border rounded px-3 py-2 text-sm" />
            </div>
            <div class="flex flex-col space-y-1 w-1/3">
              <label for="ward" class="text-sm font-medium">Room</label>
              <input id="ward" formControlName="room_number" type="text" class="border rounded px-3 py-2 text-sm" />
            </div>
          </div>
          <div class="flex flex-col space-y-1">
            <label for="email" class="text-sm font-medium">Email Address</label>
            <input id="email" formControlName="email" type="text" class="border rounded px-3 py-2 text-sm" />
          </div>
          <div class="flex flex-col space-y-1">
            <label for="phone" class="text-sm font-medium">Phone Number</label>
            <input id="phone" formControlName="phone_number" type="text" class="border rounded px-3 py-2 text-sm" />
          </div>

        </div>
      </form>
    </div>
    <div class="p-4 flex justify-between border-t">
      <button class="text-sm px-3 py-1 border rounded text-gray-700 hover:bg-gray-50"
        (click)="showModal=false">Cancel</button>
      <button (click)="onsubmit()"
        class="text-sm px-3 py-1 bg-black text-white rounded hover:bg-transparent hover:text-black hover:outline-offset-1 hover:outline hover:ring-1">Submit</button>
    </div>
  </div>





</div>
<div *ngIf="showConfirmDeleteModal"
  class="fixed top-0 bottom-0 left-0 right-0 bg-gray-800 bg-opacity-60 flex justify-center items-start z-50">

  <div class="w-[550px] bg-white shadow-md rounded-md mb-12 mt-7">
    <div class="p-4 border-b">
      <h2 class="text-base font-semibold">Are you Sure you want to delete the selected Patients?</h2>
    </div>
    <div class="p-6">
      <p class="text-sm text-gray-500">Type <b>confirm delete</b> to completely delete the selected patients</p>
      <div class="flex flex-col space-y-1">

        <input id="confirm" (input)="onConfirmChange($event)" type="text" class="border rounded px-3 py-2 text-sm" />
      </div>

    </div>
    <div class="p-4 flex justify-between border-t">
      <button class="text-sm px-3 py-1 border rounded text-gray-700 "
        (click)="showConfirmDeleteModal=false">Cancel</button>
      <button [disabled]="!deleteButton" (click)="delete_user()" [ngClass]="{
          'text-sm px-3 py-1 rounded  bg-red-400 text-white': true,
          'cursor-pointer opacity-100': deleteButton,
          'cursor-not-allowed opacity-20': domtdeleteButton
      }">
        Delete
      </button>
    </div>
  </div>
</div>



@if(show){
<app-custom-toast [message]="message" [status]="type" (closeToast)="closeToast($event)"></app-custom-toast>
}
