<div class="flex justify-between mt-8 items-center">
  <div class="mx-16">
    <div class="font-bold flex items-center space-x-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-user">
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
        <path d="M15 18a3 3 0 1 0-6 0" />
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7z" />
        <circle cx="12" cy="13" r="2" />
      </svg>
      <span class="capitalize"> {{patient.name}}</span>
    </div>
  </div>
  <div class="flex items-center space-x-1 mr-3 ">


    <button [disabled]="false"
      class="bg-transparent border border-red-300 rounded-[0.28rem] py-[0.17rem] px-2 text-sm flex items-center space-x-[2px] text-red-500"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2">
        <path d="M3 6h18" />
        <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
        <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
        <line x1="10" x2="10" y1="11" y2="17" />
        <line x1="14" x2="14" y1="11" y2="17" />
      </svg> <span> Delete</span></button>
    <button [disabled]="false"
      class="bg-transparent border border-gray-100 rounded-[0.28rem]  py-1 px-2 text-sm flex items-center space-x-[2px]"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clipboard-x">
        <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
        <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2" />
        <path d="m15 11-6 6" />
        <path d="m9 11 6 6" />
      </svg> <span>Discharge</span></button>

    <button [disabled]="false"
      class="bg-transparent  bg-zinc-900 text-zinc-100 rounded-[0.28rem] py-1 px-2 text-sm flex items-center space-x-[2px]">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-pen-line">
        <path d="m18 5-2.414-2.414A2 2 0 0 0 14.172 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2" />
        <path
          d="M21.378 12.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
        <path d="M8 18h1" />
      </svg> <span> Edit </span></button>

  </div>

</div>

<hr class="mb-8 mt-3 border-gray-50 ">
<div class="mx-16 mt-10 space-y-8 text-sm">
  <div class="row flex items-start justify-between">
    <div class="flex flex-col items-start ">
      <span>Patient Email</span>
      <span class="text-gray-400 text-sm">{{patient.email}}</span>
    </div>

    <div class="flex flex-col items-center">
      <span>Ward</span>
      <span class="text-gray-400 text-sm">{{patient.ward_number}}</span>
    </div>
    <div class="flex flex-col items-center">
      <span>Room</span>
      <span class="text-gray-400 text-sm">{{patient.room_number}}</span>
    </div>

    <div class="flex flex-col items-start">
      <span>Checkout date</span>
      <span class="text-gray-400 text-sm">{{patient.checkout_date}}</span>
    </div>
  </div>
  <div class="row flex items-start justify-between">
    <div class="flex flex-col items-start ">
      <span>Next of Kin</span>
      <span class="text-gray-400 text-sm">{{patient.next_of_kin_email}}</span>
    </div>

    <div class="flex flex-col items-center">
      <span>Gender</span>
      <span class="text-gray-400 text-sm">F</span>
    </div>
    <div class="flex flex-col items-center">
      <span># Of visitors</span>
      <span class="text-gray-400 text-sm">{{patient.patient_visitors.length}}</span>
    </div>

    <div class="flex flex-col items-start">
      <span>Checkin date</span>
      <span class="text-gray-400 text-sm">{{patient.checkin_date}}</span>
    </div>
  </div>
</div>

<hr class="mt-8 border-gray-50 ">



<div class="contact mx-[3.5rem] mt-8 flex items-center justify-between ">
  <div class="flex space-x-1 items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-contact-round">
      <path d="M16 2v2" />
      <path d="M17.915 22a6 6 0 0 0-12 0" />
      <path d="M8 2v2" />
      <circle cx="12" cy="12" r="4" />
      <rect x="3" y="4" width="18" height="18" rx="2" />
    </svg>



    <div class="flex flex-col items-start text-[13px]">
      <span class="bg-gray-50 px-2 rounded ">Ping</span>
      <span> 📱+263785 430 774</span>
      <span>✉️ {{email}}</span>
    </div>
  </div>

  <div class="visitors_per_day border border-gray-100 rounded-md px-2 py-2 flex items-center space-x-2 shadow-sm">
    <div class="bg-gray-50 p-4 rounded-[0.25rem]">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-calendar-cog">
        <path d="m15.2 16.9-.9-.4" />
        <path d="m15.2 19.1-.9.4" />
        <path d="M16 2v4" />
        <path d="m16.9 15.2-.4-.9" />
        <path d="m16.9 20.8-.4.9" />
        <path d="m19.5 14.3-.4.9" />
        <path d="m19.5 21.7-.4-.9" />
        <path d="M21 10.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h6" />
        <path d="m21.7 16.5-.9.4" />
        <path d="m21.7 19.5-.9-.4" />
        <path d="M3 10h18" />
        <path d="M8 2v4" />
        <circle cx="18" cy="18" r="3" />
      </svg>
    </div>
    <div class="flex flex-col items-start"><span class="font-semibold">25</span><span
        style="font-size: 80%;color: #e4e4e4;">AVG Visitors/Day</span></div>
  </div>
</div>

<hr class="mt-8 border-gray-50 ">
@if(patient.patient_visitors.length>0){
<div class="mx-[4.2rem] mt-5  flex items-center justify-between"><span class="font-bold">Visitors</span>

  <span><button
      class="border border-gray-100 rounded px-2 py-1 text-sm flex items-center space-x-1"><span>AddVisitor</span> <svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus">
        <circle cx="12" cy="12" r="10" />
        <path d="M8 12h8" />
        <path d="M12 8v8" />
      </svg></button></span>
</div>
<div class="border border-gray-100 mx-16 mt-3 rounded text-sm">
  <div class="flex font-bold">
    <div class="border-b border-gray-100 w-full py-2 px-3">Name </div>
    <div class="border-b border-gray-100 w-full py-2 px-3">National ID </div>
    <div class="border-b border-gray-100 w-full py-2 px-3">Visited? </div>
    <div class="border-b border-gray-100 w-full py-2 px-3"></div>
  </div>
  @for (visitor of patient.patient_visitors; track 1) {

  <div class="flex">
    <div class="border-b border-gray-100 w-full py-2 px-3">{{visitor.name}} </div>
    <div class="border-b border-gray-100 w-full py-2 px-3">{{visitor.patient_id}} </div>
    <div class="border-b border-gray-100 w-full py-2 px-3">@if(visitor.visited){
      <span class="flex space-x-1 items-center">
        <span> Yes</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="green"
          stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check">
          <circle cx="12" cy="12" r="10" />
          <path d="m9 12 2 2 4-4" />
        </svg>

      </span>}@else{

      <span class="flex space-x-1 items-center">
        <span> Pending</span>

        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-clock-arrow-up">
          <path d="M13.228 21.925A10 10 0 1 1 21.994 12.338" />
          <path d="M12 6v6l1.562.781" />
          <path d="m14 18 4-4 4 4" />
          <path d="M18 22v-8" />
        </svg>


      </span>


      }
    </div>

    <div class="border-b cursor-pointer border-gray-100 w-full py-2 px-3"><svg xmlns="http://www.w3.org/2000/svg"
        width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
        stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-sliders">
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
        <path d="M8 12h8" />
        <path d="M10 11v2" />
        <path d="M8 17h8" />
        <path d="M14 16v2" />
      </svg></div>

  </div>
  }
</div>
}

@else {

<div class="mx-[4.2rem] mt-5 font-bold">Visitors</div>
<div class="border border-gray-100 mx-16 mt-3 rounded ">
  <div class="flex font-bold text-center justify-center py-5">
    No Visitors
  </div>

</div>
}
