<div class="flex justify-between mt-8">
  <div></div>
  <div class="flex items-center space-x-1 mr-3 ">


    <button [disabled]="false"
      class="bg-transparent border border-red-300 rounded-md py-[0.17rem] px-2 text-sm flex items-center space-x-[2px] text-red-500"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2">
        <path d="M3 6h18" />
        <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
        <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
        <line x1="10" x2="10" y1="11" y2="17" />
        <line x1="14" x2="14" y1="11" y2="17" />
      </svg> <span> Delete</span></button>
    <button [disabled]="false"
      class="bg-transparent border border-gray-100 rounded-md py-1 px-2 text-sm flex items-center space-x-[2px]"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clipboard-x">
        <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
        <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2" />
        <path d="m15 11-6 6" />
        <path d="m9 11 6 6" />
      </svg> <span>Discharge</span></button>

    <button [disabled]="false"
      class="bg-transparent border border-gray-100 rounded-md py-1 px-2 text-sm flex items-center space-x-[2px]">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-pen-line">
        <path d="m18 5-2.414-2.414A2 2 0 0 0 14.172 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2" />
        <path
          d="M21.378 12.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
        <path d="M8 18h1" />
      </svg> <span> Edit </span></button>

  </div>

</div>

<hr class="mb-8 mt-3 border-gray-50 ">
<div class="mx-16 mt-10 space-y-10">
  <div class="row flex items-start justify-between">
    <div class="flex flex-col items-start ">
      <span>Patient Name</span>
      <span>Juloh</span>
    </div>

    <div class="flex flex-col items-center">
      <span>Ward</span>
      <span>A</span>
    </div>
    <div class="flex flex-col items-center">
      <span>Room</span>
      <span>3</span>
    </div>

    <div class="flex flex-col items-start">
      <span>Checkout date</span>
      <span>2025-05-14</span>
    </div>
  </div>
  <div class="row flex items-start justify-between">
    <div class="flex flex-col items-start ">
      <span>Next of Kin</span>
      <span>Julohatgmail.com</span>
    </div>

    <div class="flex flex-col items-center">
      <span>Gender</span>
      <span>F</span>
    </div>
    <div class="flex flex-col items-center">
      <span># Of visitors</span>
      <span>3</span>
    </div>

    <div class="flex flex-col items-start">
      <span>Checkin date</span>
      <span>2025-05-12</span>
    </div>
  </div>
</div>

<hr class="mt-8 border-gray-50 ">

<div class="contact mx-12 mt-8 flex space-x-4 items-center">

  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-contact-round">
    <path d="M16 2v2" />
    <path d="M17.915 22a6 6 0 0 0-12 0" />
    <path d="M8 2v2" />
    <circle cx="12" cy="12" r="4" />
    <rect x="3" y="4" width="18" height="18" rx="2" />
  </svg>

  <div class="flex flex-col items-start text-[13px]">
    <span class="bg-gray-50 px-2 rounded ">Ping</span>
    <span>+263785 430 774</span>
    <span>jaycea247atgmail.com</span>
  </div>
</div>
