<div class="mx-16 mt-10 space-y-10">
  <div class="row flex items-start justify-between">
    <div class="flex flex-col items-start ">
      <span>Patient Name</span>
      <span>Juloh</span>
    </div>

    <div class="flex flex-col items-center">
      <span>Ward</span>
      <span>A</span>
    </div>
    <div class="flex flex-col items-center">
      <span>Room</span>
      <span>3</span>
    </div>

    <div class="flex flex-col items-start">
      <span>Checkout date</span>
      <span>2025-05-14</span>
    </div>
  </div>
  <div class="row flex items-start justify-between">
    <div class="flex flex-col items-start ">
      <span>Next of Kin</span>
      <span>Julohatgmail.com</span>
    </div>

    <div class="flex flex-col items-center">
      <span>Gender</span>
      <span>F</span>
    </div>
    <div class="flex flex-col items-center">
      <span># Of visitors</span>
      <span>3</span>
    </div>

    <div class="flex flex-col items-start">
      <span>Checkin date</span>
      <span>2025-05-12</span>
    </div>
  </div>
</div>
