<body>
  <div class="flex justify-between items-center mx-9 mt-3 ">
    <div class="font-semibold" style="color: #0f172a;">
      Users
    </div>
    <div class="">
      <button class="bg-[#0f172a] flex items-center space-x-1 text-sm text-white px-2 py-1 rounded-md"
        (click)="openModal()"> <span>Add</span>

        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="white"
          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus">
          <path d="M5 12h14" />
          <path d="M12 5v14" />
        </svg>

      </button>
    </div>
  </div>

  <div style="background-color: whitesmoke;line-height: 1px;" class="mb-4 mt-4">
    &nbsp;
  </div>

  <div class="border border-gray-100 rounded-md lg:w-[94.8%] mx-auto container md:w-full sm:w-full mt-10 ">
    <table class="main-table w-full text-sm">
      <thead>
        <tr class="border-b   border-gray-100 text-left bg-gray-50">
          <th></th>

          <th class="py-3 px-3 ">{{columnNames[1]}}</th>
          <th class="py-3 px-3 ">{{columnNames[2]}}</th>
          <th class="py-3 px-3 ">{{columnNames[3]}}</th>
          <th class="py-3 px-3 ">{{columnNames[4]}}</th>
          <th class="py-3 px-3 ">{{columnNames[5]}}</th>
          <th class="py-3 px-3 ">{{columnNames[8]}}</th>
          <th class="py-3 px-3 "></th>
        </tr>
      </thead>
      <tbody>

        @for(user of collection| paginate: { itemsPerPage:itemsPerPage, currentPage: p };track 1){
        <tr class="border-b border-gray-100 text-sm bg-white ">
          <td class="px-3 text-sm py-3">
            <input type="checkbox" class=" h-4 w-4 " (change)="onCheckboxChange($event, user.id)">


          </td>
          <td class="px-3 text-sm py-3">{{user.first_name}}</td>
          <td class="px-3 text-sm py-3">{{user.last_name}}</td>
          <td class="px-3 text-sm py-3">{{user.email}}</td>
          <td class="px-3 text-sm py-3">{{user.phone_number}}</td>
          <td class="px-3 text-sm py-3">{{user.role}}</td>
          <td class="px-3 text-sm py-3">{{user.is_active}}</td>


          <td class="px-3 py-2.5"><button class="bg-transparent text-sm ">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                stroke="#64748b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-download">
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                <polyline points="7 10 12 15 17 10" />
                <line x1="12" x2="12" y1="15" y2="3" />
              </svg></button></td>


        </tr>}
      </tbody>
    </table>


  </div>


  <div *ngIf="showModal"
    class="fixed top-0 bottom-0 left-0 right-0 bg-gray-800 bg-opacity-60 flex justify-center items-center z-50">
    <!-- Modal content -->
    <div class="w-[92%] md:w-[50%] bg-white shadow-md rounded-md mb-12 mt-3">
      <div class="p-4 border-b">
        <h5 class="font-semibold">Add User</h5>
        <!-- <p class="text-sm text-gray-500">Add a new visitor in one-click.</p> -->
      </div>
      <div class="p-6">
        <form>
          <div class="grid w-full items-center gap-4">
            <div class="flex flex-col space-y-1">
              <label for="firstname" class="text-sm font-medium">First Name</label>
              <input id="firstname" formControlName="first_name" type="text"
                class="border rounded px-3 py-2 text-sm w-full" />
            </div>
            <div class="flex flex-col space-y-1">
              <label for="firstname" class="text-sm font-medium">Last Name</label>
              <input id="firstname" formControlName="last_name" type="text"
                class="border rounded px-3 py-2 text-sm w-full" />
            </div>
            <div class="flex items-center space-x-5">
              <div class="flex flex-col space-y-1 w-2/3">
                <label for="email" class="text-sm font-medium">Email Address</label>
                <input id="email" formControlName="emal" type="email" class="border rounded px-3 py-2 text-sm w-full" />
              </div>


              <div class="flex flex-col space-y-1 w-1/3">
                <label for="email" class="text-sm font-medium">National ID</label>
                <input id="email" placeholder="63-886161z63" formControlName="national_id" type="text"
                  class="border rounded px-3 py-2 text-sm w-full" />
              </div>
            </div>
            <div class="flex flex-col space-y-1">
              <label for="phone" class="text-sm font-medium">Phone Number</label>
              <input placeholder="+263777 000 000" id="phone" formControlName="phone_number" type="text"
                class="border rounded px-3 py-2 text-sm w-full" />
            </div>

          </div>
        </form>
      </div>
      <div class="p-4 flex justify-between border-t">
        <button class="text-sm px-3 py-1 border rounded text-gray-700 hover:bg-gray-50"
          (click)="showModal=false">Cancel</button>
        <button
          class="text-sm px-3 py-1 bg-black text-white rounded hover:bg-transparent hover:text-black hover:outline-offset-1 hover:outline hover:ring-1">Submit</button>
      </div>
    </div>

  </div>

  <div class="flex justify-start mt-8 ml-7">
    <ul class="inline-flex items-center -space-x-px text-sm">
      <li class="border px-2 py-1 rounded-l-md cursor-pointer" [class.hidden]="p === 1"
        (click)="p > 1 && changePage(p - 1)">
        prev
      </li>
      <li *ngFor="let page of data_list" class="border px-2 py-1 cursor-pointer"
        [ngClass]="{ 'text-gray-500': page === p }" (click)="changePage(page)">
        {{ page }}
      </li>
      <li class="border px-2 py-1 rounded-r-md cursor-pointer" [class.hidden]="p === this.len"
        (click)="p < collection.length && changePage(p + 1)">
        next
      </li>
    </ul>
  </div>
</body>